*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif; 
}
body{
    background-color: whitesmoke;
}
.navbar-brand{
    font-family: "adobe-garamond-pro", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.5rem;
    color:#149d9c;
}
.navbar-brand:hover{
    color: #68c1bd;
}
.collapse ul li .nav-link:hover{
    color: #68c1bd;
    font-weight: bold;
}
#navbarNav{
    justify-content: right;
}
.wsp-icon{
    position: fixed;
    width: 75px;
    height: 75px;
    line-height: 55px;
    bottom: 50px;
    right: 30px;
    z-index: 100;
    background-color: transparent;
}
.wsp-icon:hover{
    filter: brightness(75%);  
}
main{
    text-align:center;
    font-weight:300;
    font-size:32px;
    overflow:hidden;
    margin-bottom: 3%;
}
h1{
    font-family: "adobe-garamond-pro", serif;
    font-weight: 400;
    font-style: italic;
    font-weight: bold;
    width: 50%;
    padding: 2%;
}
h2{
    height: 80px;
    line-height: 5.3rem;
    font-family: "adobe-garamond-pro", serif;
    font-weight: 400;
    font-style: italic;
}
.title{
    font-family: "adobe-garamond-pro", serif;
    font-weight: 400;
    font-style: italic;
    width: 100%;
}

/*INDEX*/
.intro{
    display: flex;
    flex-direction: row;
    background-color: #cedbe7;
    width: 83%;
    height: 750px;
    margin-left: 8.5%;
    margin-top: 5%;
}
.intro h1{
    font-family: "adobe-garamond-pro", serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 3.2rem;
    line-height: 4rem;
    background-color: #cedbe7;
}
.intro .animate__animated{
    margin-top: 20%;
}
.intro img{
    width: 104%;
    height: 748px;
    margin-top: -4%;
}
.card-group{
    width: 83%;
    margin-left: 8.5%;
}
.one, .one .card-body, .one .card-title, .one .card-text{
    background-color: #e2f6cd;
}
.two, .two .card-body, .two .card-title, .two .card-text{
    background-color: #f3f3f3;
}
.three, .three .card-body, .three .card-title, .three .card-text{
    background-color: #cff4ec;
}
.col{
    margin-left: -2.5%;
}
.card img{
    border: solid 1px whitesmoke;
}
.card-title{
    font-family: "adobe-garamond-pro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.3rem;
}
.card-text{
    font-size: 0.9rem;
}
.ol-cards li{
    font-size: 0.9rem;
    text-align: justify;
}
.card a{
    background-color: transparent;
}
.card-footer button{
    background-color:#94d6cf;
    width: 70%;
    height: 80%;
    font-size: 1rem;
    margin-bottom: 5%;
}
.card-footer button:hover{
    background-color:#4d7369;
    color: whitesmoke;
}
.carousel-inner{
    margin-bottom: 5%;
}
.box .carousel-item img{
    margin-left: 25%;
}
#carouselExampleDark{
    width: 80%; 
    margin-left: 10%; 
    box-shadow: 1px 1px 2px black;
}
.carousel-control-prev-icon,.carousel-control-next-icon,.carousel-indicators,.carousel-caption{
    background-color: transparent;
}
.carousel-item img{
    width: 600px; 
    height: 600px; 
    filter: brightness(70%);
}
.carousel-item p{
    width: 70%;
    margin-left: 15%;
    margin-top: -40%;
    position: absolute;
    font-size: 1.5rem;
    color: whitesmoke;
    text-shadow: 1px 1px 2px black;
    background-color: transparent;
}
.carousel-inner .carousel-item .carousel-second-p{
    margin-top: -10%
}
footer .container-fluid, footer .container-fluid a {
    background-color:whitesmoke;
    justify-content: center;
}
footer nav a{
    text-decoration: none;
    color: black;
}
footer nav a:hover{
    font-weight: bold;
}
.bi-arrow-right{
    margin-top: -5%;
    color: black;
}
.bi-arrow-right:hover{
    width: 35px;
    height: 35px;
}

/*ABOUT*/
.box{
    background-color: #f0e8db;
    border-left: solid #b79882 2px;
    border-right: solid #b79882 2px;
    width: 83%;
    margin-left: 8.5%;
    margin-top: 5%;
    font-size: 0.9rem;
}
.box .title{
    font-family: "adobe-garamond-pro", serif;
    font-weight: 400;
    font-style: italic; 
}
.box h1{
    background-color: transparent;
    font-family: "adobe-garamond-pro", serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 3.2rem;
    line-height: 4rem;
}
.box p{
    background-color: transparent;
    padding-left: 7rem;
    padding-right: 7rem;
    text-align: justify;
    font-size: 1.3rem;
}
.box img{
    width: 50%;
    margin-bottom: 2%;
}
.name{
    font-size: 2rem;
}
.about{
    background-image: url(../images/vector-celeste-oro-sol-luna-creciente-monoline-fondo-beige_53876-111624.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

/*SERVICES*/
.row{
    width: 90%;
    margin-left: 8%;
    margin-bottom: 5%;
}

/*BLOG*/
.blog{
   margin-bottom: 5%;
   margin-top: 5%;
}
.blog .card .row .col-md-4, .col-md-8, .card-body, .card-title, .card-text, ol, .blog li {
    background-color:  #e2f6cd;;
}
.blog .card{
    max-width: 1240px; 
    margin-left: 1.5%; 
    background-color: transparent; 
    border: none;
}
.card .row{
    border: solid 1px black;
}

/*TESTIMONIALS*/
.testimonials .box{
    background-color: #cedbe7;
    border: none;
}
.testimonials .box .carousel-inner img{
    width: 350px;
    margin-left: -1%;

}
.phrase{
    margin-left: 60%; 
    margin-top: -2%; 
    font-size: 1.5rem;
}

/*TERMS*/
.box ol{
    text-align: justify;
    background-color: transparent;
}
.box ol li{
    background-color: transparent;
}
.box form{
    width: 44%;
    margin-left: 28%;
    font-size: 1rem;
    background-color: #e2f6cd
}
.terms-main .box{
    height: 500px;
    border: solid #b79882 2px;
}

/*MEDIA QUERY*/
@media only screen and (max-width: 768px) {
    .intro{
        height: 350px;
    }
    .intro h1{
      font-size: 1.7rem;
      line-height: 2.4rem;
    }
    .intro .animate__animated{
        margin-top: 10%;
    }
    .intro img{
        height: 350px;
    }
    .wsp-icon{
        width: 65px;
        height: 65px;
    }
    .card-footer button{
        width: 45%;
        height: 50px;
        margin-top: 5%;
        color: #4d7369;
    }
    .carousel-item p{
        margin-top: -410px; 
        font-size: 0.9rem;
    }
    .carousel-inner .carousel-item .carousel-second-p{
        margin-top: -17%
    }
    #carouselExampleDark .carousel-inner .carousel-item .carousel-caption p{
        font-size: 1rem;
    }
    .carousel-item img{
        width: 450px; 
        height: 450px; 
    }
    #carouselExampleIndicators img{
        margin-bottom: 10%;
    }
    .box h1{
        font-size: 2rem;
        line-height: 3rem;
    }
    .box ol li{
        padding-left: 30px;
        padding-right: 30px;
    }
    .box p{
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 1rem;
    }
    .box .name{
        font-size: 1.3rem;
        margin-left: 10%;
    }
    .phrase{
        margin-left: 10%; 
        margin-top: -2%; 
        font-size: 1.2rem;
    }
    .card-group{
        display: flex;
        flex-direction: column;
    }
    .about{
    background-image: url(../images/about-mobile.jpg);
    }
    .testimonials .box .carousel-inner img{
        width: 300px;
    }
    .terms-main .box{
        height: 750px;
        border: solid #b79882 2px;
    }
  }
